@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>Kontakt podatci</h3>

<address>
    Brodska 11<br />
    31000 Osijek<br />
    <abbr title="Phone">Tel:</abbr>
    099 877 1793<br />
    snjeza.mijosevic@gmail.com
</address>

